body {
    padding: 10px; 
    background-color: darkgrey;
    color: #101010;
}

a.nav-link:link {
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: underline;
}

/* visited link */
a:visited {
    color: #1a1a1a;
    text-decoration: underline;
}
  
  /* mouse over link */
a:hover {
    color: brown;
}

/* selected link */
a:active {
    color: hotpink;
}

